
img{
    background-color: rgba(3, 44, 3, 0.384);
    border-radius: 30px;
}

body{

    background-image: url(sun-tornado.png);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    /* 
    background-repeat: no-repeat;
    background-position: 30% 10%;
    background-size: cover;
    background-attachment: fixed; 
    */



}

footer{
    margin-left: 15%;
}

td{
    color: rgb(32, 54, 31);
    font-family: 'Cormorant Garamond', serif;
    font-size: 29px;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 121, 10, 0.247);
    border-radius: 20px;
   
  
}

h1{
    /* background-color: rgba(94, 94, 94, 0.438);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    border-left: 50px; */

  
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    margin-bottom: 60px;
    text-decoration: underline;

    
    
}

h2{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    text-align: center;
    margin-bottom: 180px;
    margin-top: 120px;
    color: rgb(41, 87, 41);
}
img{
    margin-right: 5%;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 128, 0, 0.308);
    margin-right: 490px;
    border-radius: 20px;
    color: rgb(1, 65, 1);

}